useDynLib(gmm4, .registration = TRUE, .fixes="F_")
importFrom("methods", is, new, show, "slot<-", "slotNames", "validObject",
           "getClassDef", "selectMethod", "callNextMethod", "as", "setAs",
           "getMethod")

importFrom("utils", capture.output)

importFrom("stats", "ar", "as.formula", "model.matrix","vcov",
           "model.response", "na.omit", "terms", "residuals",
           "D", "numericDeriv", "sd", "optim", "lm", "pf", "coef", "update",
           "fitted", "lm.fit", "pchisq", "pnorm", "printCoefmat", "anova",
           "model.frame", "reformulate", "formula", "nlminb", "kernapply",
           "constrOptim", "kernel", "confint", "qnorm", "uniroot", "getCall")
importFrom("sandwich", "vcovHAC", "estfun","kernHAC","vcovCL", "meatCL",
           "bread","bwAndrews","bwNeweyWest","weightsAndrews",
           "weightsLumley", "vcovHC")
### S4 Methods and Classes
exportClasses("nonlinearGmm", "linearGmm", "functionGmm", "gmmModels",
              "regGmm", "allNLGmm", "gmmWeights", "gmmfit","rgmmModels",
              "nonlinearGel", "linearGel", "functionGel", "gelModels",
              "formulaGel",
              "specTest", "summaryGmm", "rlinearGmm", "hypothesisTest",
              "numericORcharacter", "tsls", "rnonlinearGmm", "rfunctionGmm",
              "slinearGmm", "snonlinearGmm", "sysGmmModels",
              "sgmmfit","stsls", "rslinearGmm", "rsnonlinearGmm", "rsysGmmModels",
              "formulaGmm","rfunctionGmm", "gelfit", "summaryGel", "confint",
              "rlinearGel", "nonlinearGel", "rfunctionGel", "rformulaGel",
              "rgelModels","callORNULL")
exportMethods(residuals, print, show, vcovHAC, coef, vcov, bread, summary, update,
              model.matrix, hypothesisTest, "[", merge, subset, confint, gmmToGel,
              kernapply)

export(gmmModel, evalMoment, Dresiduals, evalDMoment, momentVcov, estfun.gmmFct,
       evalWeights, quadra, evalObjective, solveGmm, momentStrength,evalModel, 
       tsls, modelFit, meatGmm, specTest, gmm4, restModel, modelResponse, DWH,
       modelDims, printRestrict, getRestrict, sysGmmModel, ThreeSLS, gelModel,
       rhoET, rhoEL, rhoEEL, rhoHD, Wu_lam, EEL_lam, REEL_lam, getLambda, 
       solveGel, getImpProb, rhoETEL, rhoETHD)
 
###  S3 methods ###

### Need to find a better way
S3method(estfun, gmmFct)



