importFrom("methods", is, new, show, "slot<-", "slotNames", "validObject",
           "getClassDef", "selectMethod", "callNextMethod", "as", "setAs",
           "getMethod")

importFrom("utils", capture.output)

importFrom("stats", "ar", "as.formula", "model.matrix","vcov",
           "model.response", "na.omit", "terms", "residuals",
           "D", "numericDeriv", "sd", "optim", "lm", "pf", "coef", "update",
           "fitted", "lm.fit", "pchisq", "pnorm", "printCoefmat", "anova",
           "model.frame", "reformulate", "formula", "nlminb", "kernapply",
           "constrOptim", "kernel")
importFrom("sandwich", "vcovHAC", "estfun","kernHAC",
           "bread","bwAndrews","bwNeweyWest","weightsAndrews",
           "weightsLumley", "vcovHC")
### S4 Methods and Classes
exportClasses("nonlinearGmm", "linearGmm", "functionGmm", "gmmModels",
              "regGmm", "allNLGmm", "gmmWeights", "gmmfit","rgmmModels",
              "nonlinearGel", "linearGel", "functionGel", "gelModels",
              "formulaGel",
              "specTest", "summaryGmm", "rlinearGmm", "hypothesisTest",
              "numericORcharacter", "tsls", "rnonlinearGmm", "rfunctionGmm",
              "slinearGmm", "snonlinearGmm", "sysGmmModels",
              "sgmmfit","stsls", "rslinearGmm", "rsnonlinearGmm", "rsysGmmModels",
              "formulaGmm","rfunctionGmm", "gelfit", "summaryGel")
exportMethods(residuals, print, show, vcovHAC, coef, vcov, bread, summary, update,
              model.matrix, hypothesisTest, "[", merge, subset)

export(gmmModel, evalMoment, Dresiduals, evalDMoment, momentVcov, estfun.gmmFct,
       evalWeights, quadra, evalObjective, solveGmm, momentStrength,evalModel, 
       tsls, modelFit, meatGmm, specTest, gmm4, restGmmModel, modelResponse, DWH,
       modelDims, printRestrict, getRestrict, sysGmmModel, ThreeSLS, gelModel,
       rhoET, rhoEL, rhoEEL, rhoHD, EL.Wu, getLambda, gmmToGel, smoothGel,
       solveGel, getImpProb)
 
###  S3 methods ###

### Need to find a better way
S3method(estfun, gmmFct)



