import("momentfit")

importFrom("stats", "lm", "model.response", "terms", "model.frame", "reformulate")
importFrom("utils", "head", "tail")

importFrom("methods", is, new, show, "slot<-", "slotNames", "validObject",
           "getClassDef", "selectMethod", "callNextMethod", "as", "setAs",
           "getMethod")

### S4 Methods and Classes
exportClasses()

exportClasses("causalData", "causalModel", "causalGelfit", "rcausalModel")

exportMethods("causalMomFct", "checkConv")

export("causalModel", "causalGEL")



