useDynLib(causalGel, .registration = TRUE, .fixes="F_")
import("momentfit")

importFrom("stats", "lm", "model.response", "terms", "model.frame",
           "reformulate", "as.formula", "binomial", "fitted", "glm",
           "lm.wfit", "optim", "plogis")
importFrom("utils", "head", "tail")
importFrom("quadprog", "solve.QP")
importFrom("methods", is, new, show, "slot<-", "slotNames", "validObject",
           "getClassDef", "selectMethod", "callNextMethod", "as", "setAs",
           "getMethod")

### S4 Methods and Classes
exportClasses()

exportClasses("causalData", "causalModel", "causalGelfit", "rcausalModel",
              "causalfit")

exportMethods("causalMomFct", "checkConv")

export("causalModel", "causalGEL", "matching", "LLmatching", "ipw")



